name: Build documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_main_documentation.yml@main
    with:
      commit_sha: ${{ github.sha }}
      package: rlhf-handbook
#      package_name: rlhf-handbook # commented from audio-course
      path_to_docs: rlhf-handbook/chapters/
      additional_args: --not_python_module
      languages: en
    secrets:
      token: ${{ secrets.HUGGINGFACE_PUSH }}
      hf_token: ${{ secrets.HF_DOC_BUILD_PUSH }}